*{
    margin: 0%;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    background-color: rgb(255, 182, 46);
    z-index: 1;
}

nav ul {
    width: 20%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0%;
    margin-left: 10%;
}

nav ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bolder;
}

nav ul li a:hover{
    background-color: rgb(253, 169, 14);
}

nav .buynow{
    text-decoration: none;
    color: white;
    margin-right: 10%;
    border: 1px solid black;
    background-color: black;
    padding: 0.5% 3%;
    letter-spacing: 1px;
    border: 1px solid white;
}

nav .buynow:hover{
    background-color: rgb(61, 61, 61);
}

nav h2{
    font-family: 'Righteous', cursive;
    font-weight: bold;
    font-size: 40px;
    color: rgb(255, 225, 187);
    letter-spacing: 3px;
    margin-right: 10%;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
}

.fa-bone{
    font-size: 40px;
    color: rgb(165, 87, 42);
}

.slide-content{
    position: relative;
    width: 100%;
}

section .container{
    position: relative;
    overflow: hidden;
    background-color: rgb(250, 219, 161);
}

section figure {
    position: relative;
    width: 400%;
    margin: 2% 25%;
    left: 0%;
    animation: 30s slider infinite;
}

section figure img {
    width: 12.5%;
}

@keyframes slider {
    0% {
        left:0;
    }
    12.5%{
        left:0;
    }
    25% {
        left: -50%;
    }
    37.5% {
        left: -50%;
    }
    50%{
        left: -100%;
    }
    62.5%{
        left: -100%;
    }
    75%{
        left: -150%;
    }
    87.5%{
        left: -150%;
    }
}

section .frame {
    position: absolute;
    width: 26%;
    height: 90%;
    background-color: rgb(250, 219, 161);
    top: 6%;
}

section .frame2 {
    position: absolute;
    width: 25%;
    height: 90%;
    background-color: rgb(250, 219, 161);
    top: 6%;
    left: 75%;
}

